.portfolio__card {
	@extend %link;
}

.info-thumb {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		transform: translateY(100%);

		width: 100%;
		height: 100%;
		background-color: rgba(33, 150, 243, 0.9);

		opacity: 0;
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.portfolio__card:hover &::before {
		opacity: 1;
		transform: translateY(0);
	}
}

.portfolio__exmpl {
	display: block;
}

.portfolio__info {
	position: absolute;
	left: 0;
	top: 0;

	transform: translateY(100%);

	@media screen and (min-width: 768px) {
		min-width: 354px;
	}

	@media screen and (min-width: 1200px) {
		min-width: 370px;
	}

	padding: 63px 24px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: $white-text;

	opacity: 0;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.portfolio__card:hover & {
		opacity: 1;
		transform: translateY(0);
	}
}

.portfolio__descr {
	border: 1px solid #eeeeee;
}

.portfolio__title {
	padding-top: 20px;
	padding-left: 24px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $main-text-color;
}

.portfolio__category {
	padding-bottom: 20px;
	padding-left: 24px;

	font-size: 16px;
	line-height: 1.88;
	color: $secondary-text-color;
}
