.section__title {
	@media screen and(max-width:1199px) {
		font-size: 28px;
		line-height: 1.17;
		margin-bottom: 30px;
	}

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 50px;
}
